.cloud-accounts-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pie-chart {
    flex: 1;
    margin-right: 20px;
}

.status-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    color: #333;
}
